body,
body * {
  color: #e0e0e0;
  scrollbar-color: #434343 #121212;
}

::placeholder {
  color: #a0a0a0;
}

:focus {
  outline: none !important;
}

input {
  border: 1px solid #2a2a2a;
  background-color: #101114;
}

img {
  cursor: pointer;
}

svg {
  fill: #848692;
}
