.header {
  height: 75px;
  border-bottom: 2px solid #131416;
  background-color: #101114;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}
