.content-editor__textarea--edit {
  white-space: pre-wrap !important;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: auto;
  text-overflow: initial;
}

.content-editor {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (max-width: 768px) {
    max-width: 95%;
  }

  &__flex {
    display: flex;
    flex-direction: row-reverse;
    min-width: 100%;
  }

  &__images-row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
  }

  &__files-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }

  &__form-btn {
    background: #101114;
    border: 1px solid #2a2a2a;
    border-radius: 6px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #666;
    }
  }

  &__icon {
    min-width: 20px;
    min-height: 20px;
  }

  &__textarea {
    flex: 1;
    width: 100%;
    min-height: 45px;
    padding: 10px;
    border: 1px solid #2a2a2a;
    border-radius: 6px;
    background: #101114;
    color: #fff;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--error {
      border-color: #992d22;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    gap: 8px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    transition: 0.2s;
    width: 30px;
    height: 30px;

    &:hover {
      background: #666;
      border-radius: 4px;
    }
  }

  &__list {
    max-width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  &__list-item {
    display: flex;
    background: #101114;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    padding: 16px;
  }

  &__item-body {
    flex: 1;
  }

  &__item-controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__media {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    &-image {
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
      object-fit: contain;
      border-radius: 4px;
      cursor: pointer;
      background: inherit;
    }

    &-file {
      color: #7eaaff;
      text-decoration: none;
    }
  }

  &__modal-image {
    max-width: 100%;
    max-height: 700px;
  }
}

.header {
  height: 75px;
  border-bottom: 2px solid #131416;
  background-color: #101114;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}
