.content-display {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  position: relative;
  align-items: center;
  margin-bottom: 15px;
}

.content-display__loading,
.content-display__error {
  padding: 20px;
  text-align: center;
}

.content-display__card {
  background-color: #101114;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  padding: 16px;
  width: 70%;
  box-sizing: border-box;
}

.content-display__text {
  white-space: pre-wrap;
}

.content-display__media {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.content-display__image {
  max-width: 50%;
  max-height: 400px;
  border-radius: 4px;
  object-fit: contain;
  cursor: pointer;
}

.content-display__file {
  color: #7eaaff;
  text-decoration: none;
  background-color: #101114;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.content-display__modal-image {
  max-width: 100%;
  max-height: 700px;
}

.header {
  height: 75px;
  border-bottom: 2px solid #131416;
  background-color: #101114;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}
