.header {
  height: 75px;
  width: 100vw;
  border-bottom: 2px solid #131416;
  background-color: #101114;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.main__page {
  margin-top: 15px;
}

.main__page-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}
